{% block html_head_container %}
	{% include 'html-header.twig' %}

	{% block head %}{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">

		{% include "menu.twig" with {'menu': menu.get_items} %}

		{% block top %}

		<header class="jumbotron"{% if post.thumbnail.src %} style="background-image:url('{{ post.thumbnail.src }}')"{% endif %}>
			<div class="container">
				{% if post.title %}
				<h1 class="jumbotron-heading{% if header_size %} header-{{header_size}}{% endif %}">{{post.title}}</h1>
				{% endif %}
			</div>
		</header>

		{% endblock %}

		<section id="content" role="main" class="content-wrapper container py-5">
			<div class="wrapper {{sidebar_class}}">
				<div class="row">
					<div class="{% if not nosidebar %}col-lg-8{% else %}col-lg-12{% endif %} {{content_class}}" id="main-content-area">
						{% block content %}{{ post.content }}{% endblock %}
					</div>
					{% if not nosidebar %}
					<aside class="col-lg-4 sidebar mt-5 mt-lg-0">
						{% block sidebar_top %}{% endblock %}
						{% include 'sidebar.twig' %}
						{% block sidebar %}{% endblock %}
					</aside>
					{% endif %}
				</div>
			</div>
		</section>

		{% block footer %}
			<footer>
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}

	</body>
</html>
