{% if menu %}
	<div class="dropdown-menu" aria-labelledby="navbarDropdown-{{dropdown_id}}">
	{% for item in menu %}
		<a href="{{item.get_link}}" class="dropdown-item{{item.classes|join(' ')}}{% if item.current %} active{% endif %}"{% if item.target %} target="{{item.target}}"{% endif %}><span class="inside">{{item.title}}</span></a>
	{% endfor %}
	</div>
{% endif %}
